--extra-index-url https://download.pytorch.org/whl/cpu

Django>=4.2,<6.0
PyMuPDF>=1.23.0
opencv-python-headless>=4.8.0
opencv-python>=4.8.0
numpy>=1.24.0
Pillow>=10.0.0
reportlab>=4.0.0
python-dotenv>=1.0.0
requests>=2.31.0
gunicorn>=21.2.0
torch==2.8.0+cpu
torchvision==0.23.0+cpu
easyocr>=1.7.0
pandas>=2.0.0
openpyxl>=3.1.0
google-generativeai>=0.3.0
groq>=0.4.0
openai>=1.0.0
psycopg[binary]>=3.1.18
tensorflow-cpu>=2.15.0
editdistance>=0.8.0
